In [1]:
import pandas as pd

In [2]:
realmods = pd.read_csv('./min_module_list_Anon2.csv')
enrol = pd.read_csv('./Encode1_min_module_enrollment_new.csv')
program = pd.read_csv('./Encode_min_program_enrol_New_temp.csv')

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (13,16,17) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [45]:
realmods.head()

  module_code  masked_code                                    Encode
0     ACC1002            5  wing_mode4da3b7fbbce2345d7772b0674a318d5
1    ACC1002X            6  wing_mod1679091c5a880faf6fb5e6087eb1b2dc
2     ACC2002           10  wing_modd3d9446802a44259755d38e6d163e820
3     ACC3601           15  wing_mod9bf31c7ff062936a96d3c8bd1f8f2ff3
4     ACC3602           16  wing_modc74d97b01eae257e44aa9d5bade97baf

In [8]:
enrol.head()

,Unnamed: 0,stu_encode,mod_encode,term,academic_career,class_nbr,class_group,grading_basis,earn_credit,mod_credits,requirement_designation
0,0,wing_mod2ac4692cb4f636b0769d2c291af6aa88,['wing_mod413894b7e2c6dfc6e8a0e9f18287e3c4'],1000,UDEN,1017,LL1,GRD,Y,1.0,NaN
1,1,wing_mod2ac4692cb4f636b0769d2c291af6aa88,['wing_modcc9657884708170e160c8372d92f3535'],1000,UDEN,1036,LL1,NOT,N,1.0,NaN
2,2,wing_mod2ac4692cb4f636b0769d2c291af6aa88,['wing_modd62bcf67cf8ef4536d0ff0204922214b'],1000,UDEN,1133,TL1,NON,N,0.0,NaN
3,3,wing_mod2ac4692cb4f636b0769d2c291af6aa88,['wing_mod19f3cd308f1455b3fa09a282e0d496f4'],1000,UDEN,1039,LL1,GRD,Y,1.0,NaN
4,4,wing_mod2ac4692cb4f636b0769d2c291af6aa88,['wing_modb17c0907e67d868b4e0feb43dbbe6f11'],1000,UDEN,1029,LL1,GRD,Y,1.0,NaN

In [69]:
# Find out all programs a student had attended
from collections import defaultdict
students = defaultdict(set)
for row in program.iterrows():
    row = row[1]
    code = row['student_anon']
    acad_plan = f"faculty:{row['faculty_descr']},program:{row['academic_program_descr']}"
    students[f'student <{code}>'].add((str(row['term']), acad_plan))

In [70]:
# import pickle
# f = open('student_acad_programs.pkl','wb')
# pickle.dump(students, f)
# f.close()

In [ ]:
program.tail(4)

In [46]:
encode_anon_map = dict(zip(program.stu_encode.tolist(), program.student_anon.tolist()))
mod_code_map = dict(zip(realmods.Encode.tolist(), realmods.module_code.tolist()))

In [62]:
# Generate a student-courses dataframe.
selections = defaultdict(set) 
for row in enrol.iterrows():
    row = row[1]
    try:
        anon = encode_anon_map[row['stu_encode']]
        mod = mod_code_map[row['mod_encode'][2:-2]]
        selections[f'student <{anon}>'].add((str(row['term']), mod))
    except:
        continue

In [68]:
# import pickle
# f = open('course_selections.pkl','wb')
# pickle.dump(selections, f)
# f.close()